<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user %>, ви отримали нове сповіщення</h1>
    <h3>
        Місто: <%= @city.name %>.<br>
    </h3>
      <h5>
        <%= @post.title %>
      </h5>
      <a>
        <%= @post.content %>
      </a>
    </p>
    <p>Дякуємо за увагу, за додатковою інформацією перегляньте наш сайт!</p>
  </body>
</html>